body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  color: #fff; /* Default text color */
  background-color: #222; /* Dark mode background color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Add transitions for smooth color change */
}

header {
  background: linear-gradient(45deg, #6a0dad, #9b59b6); /* Initial gradient colors */
  background-size: 200%; /* Allows the gradient to move */
  padding: 20px;
  text-align: center;
  color: #fff;
  animation: gradientAnimation 10s ease infinite; /* Apply animation */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Start position */
  }
  50% {
    background-position: 100% 50%; /* Middle position */
  }
  100% {
    background-position: 0% 50%; /* End position, back to start */
  }
}

nav {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
  transition: background-color 0.3s ease;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff69b4; /* Pink color */
  bottom: -5px; /* Position the underline below the link text */
  left: 0;
  transform: scaleX(0); /* Initially hide the underline */
  transform-origin: left;
  transition: transform 0.3s ease; /* Add a smooth transition for the underline */
}

nav a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
}

/* Add styles for the mode icon */
#modeIcon {
  margin-right: 5px; /* Add some spacing between icon and text */
}

/* Add styles for dark mode in the blog post sections */
.blog-post {
  padding: 40px;
  max-width: 800px;
  margin: 20px auto;
  text-align: left;
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-in-out forwards; /* Apply the slide-in animation */
  transition: transform 0.3s ease; /* Smooth transition for transform */
}

.blog-post:hover {
  transform: translateY(-5px); /* Slightly move up on hover */
}

.blog-post h1 {
  font-size: 28px;
  color: #6a0dad; /* Header color */
  margin-bottom: 10px;
  position: relative; /* Position relative for the ::after pseudo-element */
}

.blog-post h1 a {
  color: #6a0dad; /* Link color */
  text-decoration: none; /* Remove default underline */
  position: relative; /* Position relative for the underline */
}

.blog-post h1 a::after {
  content: ''; /* Create an empty content for the underline */
  position: absolute; /* Position it absolutely within the link */
  left: 0; /* Start from the left */
  bottom: -3px; /* Position it slightly below the text */
  width: 100%; /* Full width */
  height: 2px; /* Underline thickness */
  background-color: #6a0dad; /* Underline color */
  transform: scaleX(0); /* Initially hidden */
  transform-origin: left; /* Ensure it grows from the left */
  transition: transform 0.3s ease; /* Smooth transition for the underline */
}

.blog-post h1 a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
}

.blog-post h1 a:hover {
  text-decoration: none; /* Ensure no default underline on hover */
}

.read-more-link {
  display: inline-block;
  background: linear-gradient(45deg, #6a0dad, #9b59b6); /* Gradient background */
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-position 0.5s ease; /* Smooth transition */
  background-size: 200%; /* Size to allow movement */
}

.read-more-link:hover {
  background-position: right; /* Shift gradient on hover */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional shadow effect */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.page-link {
  text-decoration: none;
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #6a0dad; /* Dark mode border color */
  border-radius: 5px;
  color: #ffffff; /* Dark mode text color */
  transition: background-color 0.3s ease;
}

.page-link.active {
  background-color: #6a0dad;
  color: #fff;
}

.page-link:hover {
  background-color: #6a0dad;
  color: #fff;
  border-color: #6a0dad;
}

/* Styles for the table of contents */
.table-of-contents {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  background-color: #444; /* Dark mode background color */
  border: 1px solid #666; /* Dark mode border color */
  padding: 20px;
  border-radius: 5px;
  max-width: 300px;
  margin: 38px;
}

.table-of-contents ul {
  padding: 0;
}

.table-of-contents li {
  margin-bottom: 5px;
}

.table-of-contents a {
  color: #fff; /* Dark mode text color */
  text-decoration: none;
  transition: color 0.3s ease;
}

.table-of-contents a:hover {
  color: #ff69b4; /* Pink color on hover for both light and dark modes */
  text-decoration: underline;
}

/* Styles for the content */
.centered-content {
  display: flex;
  justify-content: center;
}

.content {
  max-width: 1000px;
  padding: 20px;
  margin: 10px;
  background-color: #333; /* Dark mode background color */
  border-radius: 5px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 32px;
  color: #6a0dad;
  margin-bottom: 10px;
}

.content p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.content a {
  color: #6a0dad;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

/* Add the underline effect on hover */
.content a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #6a0dad;
  bottom: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.content a:hover::after {
  transform: scaleX(1);
}

body.dark-mode .about-section {
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.5s ease-in-out forwards; /* Apply the slide-in animation */
}

.about-section {
  padding: 40px;
  max-width: 900px;
  margin: 20px auto;
  text-align: left;
  background-color: #333; /* Dark mode background color */
  color: #fff; /* Dark mode text color */
  border-radius: 5px;
}

body.dark-mode .content {
  background-color: #333;
  color: #fff;
}

/* Add styles for dark mode in the paragraphs */
.content p {
  color: #fff;
}

/* Add styles for dark mode in the headings */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #fff;
}

/* Add styles for zoomable images */
#zoomable-image {
  transition: transform 0.3s ease;
}

#zoomable-image:hover {
  transform: scale(1.2); /* Increase the scale to zoom the image */
  cursor: zoom-in; /* Change cursor to indicate that the image is zoomable */
}

.small-card {
  background-color: #333; /* Dark mode background color */
  padding: 10px;
  border: 1px solid #6a0dad; /* Dark mode border color */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  position: relative;
  margin: 20px auto;
}

.small-card h3 {
  font-size: 20px;
  color: #ff0000; /* Changed to red */
  margin: 3px;
  margin-bottom: 8px;
}

.small-card p {
  line-height: 1.6;
  margin-bottom: 8px;
}

.small-card a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.small-card a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ff0000; /* Changed to red */
  bottom: -3px;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.small-card a:hover::before {
  transform: scaleX(1);
}

/* Add styles for dark mode in the small card */
body.dark-mode .small-card {
  background-color: #333;
  color: #fff;
  border-color: #6a0dad;
}

/* Add styles for dark mode in the links inside the small card */
body.dark-mode .small-card a {
  color: #ff69b4; /* Pink color for links in dark mode */
}

/* Add styles for dark mode in the animated underline effect */
body.dark-mode .small-card a::before {
  background-color: #ff69b4; /* Pink color for the underline in dark mode */
}

body.dark-mode .small-card h3 {
  font-size: 20px;
  color: #ff0000; /* Changed to red */
}
